fastapi
uvicorn
python-multipart
openai
langchain
langchain-community
langchain-openai
chromadb
python-docx
docx2txt
beautifulsoup4
lxml
requests
python-dotenv
tqdm
aiohttp
tiktoken
typing_inspection
orjson
PyPDF2 